body {
  background: burlywood;
}

h1 {
  text-align: center;
}

a {
  text-align: center;
  justify-content: space-between;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

p {
  display: block;
}
